/* Обводки */
body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  font-family: 'Courier New', monotype;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 24px;
  padding: 2px 5px;
  content: '.' attr(class);
  white-space: nowrap;
}

body > * {
  outline: 3px solid green;
  outline-offset: -3px;
  background: rgba(128, 255, 128, .25);
  background-clip: content-box;
}

body > *::before {
  color: white;
  background: green;
}

body > * > * {
  outline: 3px solid rgba(255, 45, 82, .9);
  outline-offset: -3px;
  background: rgba(255, 45, 82, .2);
  background-clip: content-box;
}

body > * > *::before {
  color: white;
  background: #ff2d52;
}

body > * > * > * {
  outline: 3px solid rgba(173, 216, 230, .9);
  outline-offset: -3px;
  background: rgba(173, 216, 230, .2);
  background-clip: content-box;
}

body > * > * > *::before {
  color: black;
  background: lightblue;
}

body > * > * > * > * {
  outline: 3px solid rgba(234, 255, 45, .9);
  outline-offset: -3px;
  background: rgba(234, 255, 45, .2);
  background-clip: content-box;
}

body > * > * > * > *::before {
  color: black;
  background: #eaff2d;
}

body > * > * > * > * > * {
  outline: 3px solid violet;
  outline-offset: -3px;
}

body > * > * > * > * > *::before {
  color: black;
  background: violet;
}

.block-mock {
  height: 100px;
  outline: none;
  background: transparent;
  background-color: rgba(255, 255, 255, .25);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, .25) 25%, transparent 25%), linear-gradient(225deg, rgba(0, 0, 0, .25) 25%, transparent 25%), linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%), linear-gradient(315deg, rgba(0, 0, 0, .25) 25%, transparent 25%);
  background-repeat: repeat;
  background-position: 25px 0,
    25px 0,
    0 0,
    0 0;
  background-size: 50px 50px;
}

.block-mock::before {
  display: none;
}

.main-nav__wrapper::before {
  right: 3px;
  left: auto;
}

.site-list::before {
  top: auto;
  bottom: 3px;
}

.user-list::before {
  top: auto;
  bottom: 3px;
}

.stats__header::before,
.stats__list::before {
  top: auto;
  bottom: 2px;
}

.advantages__wrapper::before {
  right: 2px;
  left: auto;
}

.advantages__item::before {
  top: auto;
  bottom: 2px;
}

.news__wrapper::before {
  right: 2px;
  left: auto;
}

.news__item::before {
  top: auto;
  bottom: 2px;
}

.reviews__wrapper::before {
  right: 2px;
  left: auto;
}

.page-footer__wrapper::before {
  right: 2px;
  left: auto;
}

@media (min-width: 768px) {
  .page-footer__copyright::before {
    font-size: 10px;
  }

  .user-list::before {
    content: '...';
  }

  .nav-mock::before {
    right: 2px;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .page-footer__social::before {
    font-size: 10px;
  }
}
