/* Файл scaffolding.less */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  min-width: 320px;
  color: #f7f4f1;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: 768px) {
  .page-header__logo {
    height: 400px;
    order: 2;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}

.main-nav {
  width: 320px;
    /* Временно для сетки */
  min-height: 310px;
  margin: 0 auto;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}

.main-nav__list {
    /* Временно для сетки */
  min-height: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list:first-child {
    /* Временно для сетки */
  min-height: 255px;
}

@media (min-width: 768px) {
  .main-nav {
    width: auto;
        /* Временно для сетки */
    min-height: 70px;
    margin: 0;
  }

  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__list:first-child {
    width: 570px;
        /* Временно для сетки */
    min-height: 70px;
  }

  .main-nav__list:last-child {
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .main-nav__list:first-child {
    width: 780px;
  }

  .main-nav__list:last-child {
    width: 160px;
  }
}

.stats {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .stats {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .stats {
    width: 960px;
  }
}

.stats__header {
    /* Временно для сетки */
  min-height: 130px;
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;
}

.stats__list {
  width: 100%;
    /* Временно для сетки (таблица на min-height не реагирует, поэтому height) */
  height: 320px;
}

@media (min-width: 768px) {
  .stats {
    margin-top: -185px;
    padding-bottom: 0;
  }

  .stats__header {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .stats__list {
    display: block;
  }
}

@media (min-width: 1200px) {
  .stats {
    display: flex;
    margin-top: -160px;
    padding-bottom: 0;
  }

  .stats__header {
    width: 240px;
        /* Временно для сетки */
    min-height: 263px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .stats__list {
    width: 640px;
  }
}

.advantages__wrapper {
  width: 320px;
    /* Временно для сетки */
  min-height: 325px;
  margin: 0 auto;
  padding-top: 25px;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
    /* Временно для сетки */
  min-height: 150px;
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
}

.advantages__item:nth-child(n+2) {
  display: none;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 42px;
    padding-bottom: 10px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
  }

  .advantages__item {
        /* Временно для сетки */
    min-height: 95px;
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 128px;
  }

  .advantages__item:nth-child(n+2) {
    display: block;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .advantages__wrapper {
        /* Временно для сетки */
    min-height: 275px;
    padding-top: 75px;
    padding-bottom: 40px;
  }

  .advantages__list {
    flex-direction: row;
    width: 100%;
        /* Временно для сетки (height – так как таблица не воспринимает min-height) */
    height: 275px;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }

  .advantages__item:nth-child(2) {
    width: 200px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.news__wrapper {
  width: 320px;
    /* Временно для сетки */
  min-height: 405px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 28px;
}

@media (min-width: 768px) {
  .news__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px;
  }
}

.news__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
    /* Временно для сетки */
  min-height: 105px;
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;
}

.news__item:nth-child(n+3) {
  display: none;
}

.news__item:nth-child(2) {
    /* Временно для сетки */
  min-height: 145px;
}

.news__item:nth-child(2) {
  padding-bottom: 0;
}

.news__title {
    /* Временно для сетки */
  min-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .news {
    padding-top: 90px;
    padding-bottom: 35px;
  }

  .news__wrapper {
        /* Временно для сетки */
    min-height: 200px;
    padding: 0;
  }

  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }

  .news__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news__item {
    width: 220px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
  }

  .news__item:nth-child(2) {
        /* Временно для сетки */
    min-height: 110px;
  }
}

@media (min-width: 1200px) {
  .news {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .news__wrapper {
        /* Временно для сетки */
    min-height: 205px;
  }

  .news__title {
    margin-bottom: 55px;
    margin-left: 70px;
  }

  .news__item:nth-child(n+3) {
    display: block;
  }
}

.reviews__wrapper {
  width: 320px;
    /* Временно для сетки */
  min-height: 260px;
  margin: 0 auto;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .reviews__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
  }
}

.reviews__title {
    /* Временно для сетки */
  min-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.reviews__list {
    /* Временно для сетки */
  min-height: 150px;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .reviews__wrapper {
        /* Временно для сетки */
    min-height: 245px;
    padding: 0;
  }

  .reviews__title {
        /* Временно для сетки */
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 43px;
  }

  .reviews__list {
        /* Временно для сетки */
    min-height: 160px;
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding-bottom: 97px;
  }

  .reviews__title {
    margin-left: 70px;
  }
}

.page-footer__wrapper {
  width: 320px;
    /* Временно для сетки */
  min-height: 395px;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 35px;
  padding-bottom: 19px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 640px;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 960px;
  }
}

.page-footer__contacts {
    /* Временно для сетки */
  min-height: 150px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0 19px;
}

.page-footer__social {
    /* Временно для сетки */
  min-height: 100px;
  margin: 0;
  margin-bottom: 30px;
}

.page-footer__copyright {
    /* Временно для сетки */
  min-height: 90px;
  margin: 0;
  padding: 0 23px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
        /* Временно для сетки */
    min-height: 240px;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__contacts {
    width: 300px;
        /* Временно для сетки */
    min-height: 90px;
    margin-bottom: 50px;
    order: 0;
  }

  .page-footer__social {
    width: 100%;
    margin-bottom: 0;
    order: 2;
  }

  .page-footer__copyright {
    width: 160px;
    margin-bottom: 50px;
    padding: 0;
    order: 1;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
        /* Временно для сетки */
    min-height: 90px;
    justify-content: flex-start;
  }

  .page-footer__contacts {
    width: 330px;
    margin: 0;
    margin-right: 50px;
    padding: 0;
  }

  .page-footer__social {
    width: 200px;
        /* Временно для сетки */
    min-height: 90px;
    order: 1;
  }

  .page-footer__copyright {
    margin-left: auto;
    order: 2;
  }
}
/* Фоны */
body {
  background: #292929 url('../img/bb-mobile.png') no-repeat 50% 0;
  background-size: 720px auto;
}

@media (min-width: 768px) {
  body {
    background: #292929 url('../img/bb-tablet.png') no-repeat 50% 0;
    background-size: 768px auto;
  }
}

@media (min-width: 1200px) {
  body {
    background: #292929 url('../img/bb-desktop.png') no-repeat 50% 0;
    background-size: 1200px auto;
  }
}
