/* Файл scaffolding.less */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  color: #f7f4f1;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}
/* Фоны для сеток лежат в файле outlines.less */
/* Стили для nav-mock */
.nav-mock {
    /* Временно для сетки */
  min-height: 310px;
}

@media (min-width: 768px) {
  .nav-mock {
        /* Временно для сетки */
    min-height: 70px;
  }
}
/* Файл blocks/page-header.less */
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: 768px) {
  .page-header__logo {
    height: 400px;
    order: 1;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}
