/* Файл scaffolding.less */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  color: #f7f4f1;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}
/* Файл blocks/page-header.less */
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: column-reverse;
  }

  .page-header__logo {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}
/* Файл blocks/main-nav.less не полностью, так что пока ставлю здесь просто нужную часть */
.main-nav {
    /* Временно для сетки */
  min-height: 310px;
}

@media (min-width: 768px) {
  .main-nav {
        /* Временно для сетки */
    min-height: 70px;
  }
}
