body {
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}
/* Файл blocks/page-header.less */
