/* Файл scaffolding.less */
@font-face {
  font-family: 'PT Sans Narrow';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/PTSansNarrow.woff2') format('woff2'), url('fonts/PTSansNarrow.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
    font-weight: 700;
    font-style: normal;

    src: url('fonts/PTSansNarrowBold.woff2') format('woff2'), url('fonts/PTSansNarrowBold.woff') format('woff');
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  min-width: 320px;
  color: #f7f4f1;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}

.block-mock {
  height: 100px;
}
/* Файл blocks/news.less */
.news__wrapper {
  width: 320px;
    /* Временно для сетки */
  min-height: 405px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 28px;
}

.news__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
    /* Временно для сетки */
  min-height: 105px;
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;
}

.news__item:nth-child(n+3) {
  display: none;
}

.news__item:nth-child(2) {
    /* Временно для сетки */
  min-height: 145px;
  padding-bottom: 0;
}

.news__title {
    /* Временно для сетки */
  min-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .news {
    padding-top: 90px;
    padding-bottom: 35px;
  }

  .news__wrapper {
    width: 640px;
        /* Временно для сетки */
    min-height: 200px;
    padding: 0;
  }

  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }

  .news__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news__item {
    width: 220px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
  }

  .news__item:nth-child(2) {
        /* Временно для сетки */
    min-height: 110px;
  }
}

@media (min-width: 1200px) {
  .news {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .news__wrapper {
    width: 960px;
        /* Временно для сетки */
    min-height: 205px;
  }

  .news__title {
    margin-bottom: 55px;
    margin-left: 70px;
  }

  .news__item:nth-child(n+3) {
    display: block;
  }
}
