/* Файл scaffolding.less */
@font-face {
  font-family: 'PT Sans Narrow';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/PTSansNarrow.woff2') format('woff2'), url('fonts/PTSansNarrow.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
    font-weight: 700;
    font-style: normal;

    src: url('fonts/PTSansNarrowBold.woff2') format('woff2'), url('fonts/PTSansNarrowBold.woff') format('woff');
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  min-width: 320px;
  color: #f7f4f1;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}
/* Настройки для block-mock */
.block-mock {
  height: 390px;
}

@media (min-width: 768px) {
  .block-mock {
    height: 469px;
  }
}

@media (min-width: 1200px) {
  .block-mock {
    height: 720px;
  }
}
/* Файл blocks/stats.less */
.stats {
  width: 320px;
    /* Временно для сетки */
  min-height: 570px;
  margin: 0 auto;
}

.stats__header {
    /* Временно для сетки */
  min-height: 130px;
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;
}

.stats__list {
  width: 100%;
    /* Временно для сетки (таблица на min-height не реагирует, поэтому height) */
  height: 320px;
}

@media (min-width: 768px) {
  .stats {
    width: 640px;
        /* Временно для сетки */
    min-height: 0;
    margin-top: -185px;
  }

  .stats__header {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .stats__list {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 240px;
        /* Временно для сетки */
    min-height: 263px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .stats__list {
    width: 640px;
  }
}
