/* Файл scaffolding.less */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  min-width: 320px;
  color: #f7f4f1;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}
/* Настройки скриншота-подложки для сетки */
body {
  min-height: 1050px;
  background: #292929 url('../img/bb-mobile.png') no-repeat 50% -2015px;
  background-size: 720px auto;
}

@media (min-width: 768px) {
  body {
    background: #292929 url('../img/bb-tablet.png') no-repeat 50% -1955px;
    background-size: 1178px auto;
  }
}

@media (min-width: 1200px) {
  body {
    background: #292929 url('../img/bb-desktop.png') no-repeat 50% -1969px;
    background-size: 1391px auto;
  }
}

.block-mock {
  height: 100px;
}
/* Файл blocks/page-footer.less */
.page-footer__wrapper {
  width: 320px;
    /* Временно для сетки */
  min-height: 395px;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.page-footer__contacts {
    /* Временно для сетки */
  min-height: 155px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0 20px;
}

.page-footer__social {
    /* Временно для сетки */
  min-height: 100px;
  margin: 0;
  margin-bottom: 30px;
}

.page-footer__copyright {
    /* Временно для сетки */
  min-height: 90px;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    width: 640px;
        /* Временно для сетки */
    min-height: 240px;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__contacts {
    width: 300px;
        /* Временно для сетки */
    min-height: 90px;
    margin-bottom: 50px;
    order: 0;
  }

  .page-footer__social {
    width: 100%;
    margin-bottom: 0;
    order: 2;
  }

  .page-footer__copyright {
    width: 160px;
    margin-bottom: 50px;
    padding: 0;
    order: 1;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 960px;
        /* Временно для сетки */
    min-height: 90px;
    justify-content: flex-start;
  }

  .page-footer__contacts {
    width: 330px;
    margin: 0;
    margin-right: 50px;
    padding: 0;
  }

  .page-footer__social {
    width: 200px;
        /* Временно для сетки */
    min-height: 90px;
    order: 1;
  }

  .page-footer__copyright {
    margin-bottom: 0;
    margin-left: auto;
    order: 2;
  }
}
