.appointment {
  position: relative;
  padding-bottom: 73px;
  margin: auto;
  max-width: 960px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 50%;
    height: 40px;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right top, @darkgrey 0%, @darkgrey 50%, transparent 50%);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to left top, @darkgrey 0%, @darkgrey 50%, transparent 50%);
  }
}

.appointment__fields {
  display: grid;
  row-gap: 6px;

  @media (min-width: @tablet-width) {
    row-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    row-gap: 35px;
    column-gap: 37px;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  }
}

.appointment__wrapper {
  margin: 0 auto;
}

.appointment__form {
  padding: 0 20px;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .filter {
    margin-top: 30px;
  }

  .filter--margin {
    margin-top: 12px;
  }
}

.appointment__item {
  margin: 0;

  input,
  textarea {
    width: 100%;
    padding: 9px 16px 9px 16px;
    font: inherit;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
    box-sizing: border-box;
  }

  input:focus,
  textarea:focus {
    position: relative;
    outline: 4px solid rgba(0, 125, 250, 0.6);
  }

  textarea {
    height: 112px;
    resize: none;
  }

  &--first-name {
    @media (min-width: @tablet-width) {
      margin-left: -1px;
      margin-right: -1px;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 2;
    }
  }

  &--patronymic {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &--phone {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 2;
    }
  }

  &--email {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 2;
    }
  }

  &--comment {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

@media (min-width: @tablet-width) {
  .appointment {
    padding-bottom: 75px;

    &::before,
    &::after {
      display: none;
    }
  }

  .appointment__form {
    padding: 0 65px;
    padding-top: 28px;

    .filter {
      margin-top: 47px;
    }
  }

  .appointment__item {
    input,
    textarea {
      padding: 19px 16px 19px 23px;
      font-size: 24px;
    }

    textarea {
      height: 212px;
    }
  }
}

@media (min-width: @desktop-width) {
  .appointment {
    padding-bottom: 87px;
  }

  .appointment__form {
    padding: 0;

    .filter {
      margin-top: 64px;
    }

    .filter--margin {
      margin-top: 53px;
    }
  }
}
