.button {
  display: block;
  padding-top: 13px;
  padding-right: 29px;
  padding-bottom: 11px;
  padding-left: 29px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: @basic-black;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid @basic-light;

  &:hover {
    text-decoration: none;
    border-color: @basic-extra-light;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    background-color: @basic-extra-light;
    border-color: @basic-extra-light;
  }

  &:focus {
    text-decoration: none;
  }
}
