/* Файл scaffolding.less */
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Стили для nav-mock */
.nav-mock {
  /* Временно для сетки */
  min-height: 310px;
}

@media (min-width: 768px) {
  .nav-mock {
    /* Временно для сетки */
    min-height: 72px;
  }
}
/*  Блок-заглушка снизу */
.block-mock:nth-last-of-type(1) {
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%), linear-gradient(225deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%), linear-gradient(45deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%), linear-gradient(315deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%);
  background-position: 25px 0, 25px 0, 0 0, 0 0;
  background-size: 50px 50px;
  background-repeat: repeat;
}
/* Файл blocks/page-header.less */
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
  text-align: center;
}
/*.page-header__logo img {
  width: 226px;
  height: 85px;
}*/
.page-header__logo svg {
  width: 230px;
  height: 85px;
}

.page-header__logo-barbershop {
  display: none;
}

.page-header__logo-mustache {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }

  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }
  /*.page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }*/
  .page-header__logo svg {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }

  .page-header__logo-barbershop {
    display: inline-block;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../img/bg-header@2x.jpg");
    background-size: 1338px auto;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  /*.page-header__logo img {
    margin-top: 57px;
  }*/
  .page-header__logo svg {
    margin-top: 57px;
  }

  .page-header__logo-mustache {
    display: inline-block;
  }
}
