.footer-navigation {
  padding: 20px 20px 16px;
  border-bottom: 1px solid var(--base-secondary);

  @media (min-width: $tablet-width) {
    padding: 0;
    min-width: 223px;
    margin: 0 auto;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.footer-navigation__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--base-primary);
}

.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation__item {
  margin-bottom: 4px;
}

.footer-navigation__link {
  display: block;
  padding: 8px 0;
  color: var(--base-black);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;

  &:hover {
    color: var(--primary-lighter);
  }

  &:focus {
    color: var(--primary-lighter);
  }

  &:active {
    color: var(--primary-darker);
  }
}
