.map {
  width: 100%;
  min-height: 420px;

  @media (min-width: $tablet-width) {
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    min-height: 540px;
  }
}

.map--nojs {
  background-image: url("../img/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }
}
