/* Файл scaffolding.less */
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Файл blocks/button.less */
.button {
  display: block;
  padding-top: 13px;
  padding-right: 29px;
  padding-bottom: 11px;
  padding-left: 29px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #e5ddd5;
}

.button:hover {
  text-decoration: none;
  border-color: #d5c9bd;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  background-color: #d5c9bd;
  border-color: #d5c9bd;
}

.button:focus {
  text-decoration: none;
}
/* Файл blocks/page-header.less */
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
  text-align: center;
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}

.page-header__logo-barbershop {
  display: none;
}

.page-header__logo-mustache {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }

  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }

  .page-header--inner .page-header__logo {
    position: relative;
    height: 213px;
  }

  .page-header--inner .page-header__logo::before,
  .page-header--inner .page-header__logo::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 50%;
    height: 40px;
  }

  .page-header--inner .page-header__logo::before {
    left: 0;
    background-image: linear-gradient(to right top, #f8f5f2 0%, #f8f5f2 50%, transparent 50%);
  }

  .page-header--inner .page-header__logo::after {
    right: 0;
    background-image: linear-gradient(to left top, #f8f5f2 0%, #f8f5f2 50%, transparent 50%);
  }

  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }

  .page-header__logo-barbershop {
    display: inline-block;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../img/bg-header@2x.jpg");
    background-size: 1338px auto;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }

  .page-header--inner .page-header__logo {
    height: 307px;
  }

  .page-header--inner .page-header__logo::before,
  .page-header--inner .page-header__logo::after {
    height: 65px;
  }

  .page-header__logo img {
    margin-top: 57px;
  }

  .page-header__logo-mustache {
    display: inline-block;
  }
}
/* Файл blocks/site-list.less */
.site-list {
  font-weight: bold;
}

.site-list a {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}

.site-list__icon-comb {
  position: absolute;
  top: 15px;
  left: auto;
  right: 15px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
  }

  .site-list__item {
    margin-right: 32px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background: #826550;
  }

  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }

  .site-list__icon-comb {
    top: 8px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }

  .site-list__item a[href]:hover .site-list__icon-comb {
    opacity: 1;
    fill: #826550;
  }

  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
  }

  .site-list__item a[href]:active .site-list__icon-comb {
    opacity: 0.3;
    fill: #ffffff;
  }
}

@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }

  .site-list__item {
    margin-right: 0;
  }

  .site-list__item--active::after {
    right: 30px;
    left: 30px;
  }

  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }

  .site-list__icon-comb {
    top: 28px;
    left: 8px;
    transform: none;
  }

  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }

  .site-list__item a[href]:hover .site-list__icon-comb {
    opacity: 0.3;
    fill: #000000;
  }

  .site-list__item a[href]:active .site-list__icon-comb {
    opacity: 0.1;
  }
}
/* Файл blocks/user-list.less */
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }

  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }

  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
    fill: #826550;
  }

  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
    fill: #ffffff;
  }

  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}

@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px;
  }

  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }

  .user-list__login:hover .user-list__login-icon {
    opacity: 0.3;
    fill: #000000;
  }

  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }

  .user-list__login-icon {
    left: 15px;
  }
}
/* Файл blocks/main-nav.less */
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  background-color: #826550;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}

.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .site-list__item--active {
    display: block;
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }

  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000;
    /* Временно для сетки */
    /*min-height: 70px;*/
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
/* Файл blocks/stats.less */
.stats {
  width: auto;
}

.stats__header {
  padding-top: 27px;
  padding-right: 40px;
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000000;
  background-color: #ffffff;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929;
}

.stats__legend--top {
  display: none;
}

.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}

.stats__list {
  width: 100%;
  border-collapse: collapse;
}

.stats__list tr {
  color: #ffffff;
  background-color: #404040;
}

.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}

.stats__list tr:nth-child(3) {
  background-color: #353535;
}

.stats__list tr:nth-child(4) {
  background-color: #404040;
}

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}

.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: -185px;
  }

  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 37px;
  }

  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }

  .stats__slogan {
    width: 45%;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }

  .stats__intro {
    width: 37.5%;
    margin-top: 4px;
    padding: 0;
    padding-left: 30px;
    text-align: left;
  }

  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3);
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .stats__list tr {
    width: 50%;
    padding: 25px 35px;
    padding-bottom: 28px;
    box-sizing: border-box;
  }

  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stats__field br {
    display: none;
  }
}

@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    flex-direction: column;
    width: 240px;
  }

  .stats__header::before {
    top: 22px;
  }

  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }

  .stats__intro {
    width: auto;
    padding-left: 0;
    padding-right: 30px;
  }

  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }

  .stats__list {
    display: flex;
    width: 640px;
  }
}
/* Файл blocks/advantages.less */
.advantages {
  position: relative;
}

.advantages::before,
.advantages::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 50%;
  height: 34px;
}

.advantages::before {
  left: 0;
  background-image: linear-gradient(to right top, #f8f5f2 0%, #f8f5f2 50%, transparent 50%);
}

.advantages::after {
  right: 0;
  background-image: linear-gradient(to left top, #f8f5f2 0%, #f8f5f2 50%, transparent 50%);
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 61px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
}

.advantages__item:nth-child(n+2) {
  display: none;
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 95px;
  height: 95px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--fast::before {
  background-image: url("../img/advantage-1.svg");
}

.advantages__item--cool::before {
  background-image: url("../img/advantage-2.svg");
}

.advantages__item--price::before {
  background-image: url("../img/advantage-3.svg");
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.advantages__description {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.advantages__toggles {
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
  display: flex;
  width: 76px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .advantages::before,
  .advantages::after {
    height: 40px;
  }

  .advantages__wrapper {
    width: 640px;
    padding-top: 42px;
    padding-bottom: 46px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
  }

  .advantages__item {
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 128px;
  }

  .advantages__item:nth-child(n+2) {
    display: block;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__item::before {
    right: auto;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }

  .advantages__toggles {
    display: none;
  }
}

@media (min-width: 1200px) {
  .advantages::before,
  .advantages::after {
    height: 62px;
  }

  .advantages__wrapper {
    width: 960px;
    padding-top: 75px;
    padding-bottom: 105px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__item {
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }

  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .advantages__item::before {
    right: 0;
  }

  .advantages__title {
    text-align: center;
  }

  .advantages__description {
    text-align: center;
  }
}
/* Файл blocks/slider.less */
.slider__toggles {
  flex-wrap: wrap;
}

.slider__toggle {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 25px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
}

.slider__toggle:last-child {
  margin-right: 0;
}

.slider__toggle--current {
  background-color: #ffffff;
  border-color: #ffffff;
}

.reviews .slider__toggle {
  border: 1px solid #353535;
}

.reviews .slider__toggle--current {
  background-color: #353535;
  border-color: #353535;
}
/* Файл blocks/news.less */
.news {
  color: #000000;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;
}

.news__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 28px;
}

.news__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  position: relative;
  display: block;
  margin: 0 19px;
  margin-bottom: 15px;
  padding-bottom: 18px;
  padding-left: 70px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #e5ddd5;
}

.news__item:nth-child(n+3) {
  display: none;
}

.news__item:nth-child(2) {
  padding-bottom: 0;
  border-bottom: none;
}

.news__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.news__date {
  position: absolute;
  top: 10px;
  left: 0;
  width: 29px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: #000000;
}

.news__day {
  position: relative;
  display: block;
  margin-bottom: -5px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.news__day::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 24px 0 24px;
  border-color: #000000 transparent transparent transparent;
}

.news__text {
  margin: 0;
}

.news__item:hover,
.news__item:focus {
  color: #826550;
  text-decoration: underline;
}

.news__item:hover .news__date,
.news__item:focus .news__date {
  background-color: #826550;
}

.news__item:hover .news__day::after,
.news__item:focus .news__day::after {
  border-color: #826550 transparent transparent transparent;
}

.news__item:active {
  color: #6a4d38;
}

.news__item:active .news__date {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}

.news__item:active .news__day::after {
  border-color: #6a4d38 transparent transparent transparent;
}

.news__to-all {
  margin: 0 20px;
  margin-top: 7px;
}

@media (min-width: 768px) {
  .news {
    padding-top: 53px;
    padding-bottom: 35px;
  }

  .news__wrapper {
    width: 640px;
    padding: 0;
  }

  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }

  .news__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news__item {
    width: 220px;
    margin: 0;
    margin-top: -4px;
    padding: 0 30px;
    padding-left: 70px;
    border: none;
  }

  .news__title {
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
  }

  .news__to-all {
    position: absolute;
    top: -9px;
    right: 0;
    width: 100px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .news {
    padding-top: 63px;
    padding-bottom: 37px;
  }

  .news__wrapper {
    width: 960px;
  }

  .news__title {
    margin-left: 70px;
    margin-bottom: 55px;
  }

  .news__item {
    margin-top: -6px;
  }

  .news__item:nth-child(n+3) {
    display: block;
  }
}
/* Файл blocks/reviews.less */
.reviews {
  position: relative;
  color: #000000;
  background-color: #f8f5f2;
}

.reviews::before,
.reviews::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 50%;
  height: 34px;
}

.reviews::before {
  left: 0;
  background-image: linear-gradient(to right top, #292929 0%, #292929 50%, transparent 50%);
}

.reviews::after {
  right: 0;
  background-image: linear-gradient(to left top, #292929 0%, #292929 50%, transparent 50%);
}

.reviews__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 87px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.reviews__write {
  display: none;
}

.reviews__list {
  position: relative;
}

.reviews__item {
  display: flex;
  margin: 0 19px;
}

.reviews__item:nth-child(2),
.reviews__item:nth-child(3) {
  display: none;
}

.reviews__author-picture {
  width: 50px;
  height: 33px;
  margin-right: 20px;
  margin-top: 10px;
}

.reviews__author-image {
  width: 100%;
  height: auto;
}

.reviews__author-info {
  max-width: 200px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal;
}

.reviews__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.reviews__prev,
.reviews__next {
  position: absolute;
  top: 0;
  display: none;
  width: 50px;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #e5ddd5;
}

.reviews__prev {
  left: 0;
  background-image: url("../img/arrow-left.svg");
}

.reviews__next {
  right: 0;
  background-image: url("../img/arrow-left.svg");
  transform: rotate(180deg);
}

.reviews__toggles {
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
  display: flex;
  width: 76px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .reviews::before,
  .reviews::after {
    display: none;
  }

  .reviews__wrapper {
    width: 640px;
    padding: 0;
  }

  .reviews__title {
    margin-right: 200px;
    margin-bottom: 46px;
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
  }

  .reviews__item {
    position: relative;
    margin: 0 50px;
    padding-top: 30px;
    padding-bottom: 37px;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
  }

  .reviews__prev,
  .reviews__next {
    display: block;
  }

  .reviews__author-picture {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
  }

  .reviews__author-image {
    border-radius: 50%;
  }

  .reviews__author-info {
    max-width: 400px;
  }

  .reviews__write {
    position: absolute;
    top: -9px;
    right: 0;
    display: block;
    padding-right: 23px;
    padding-left: 24px;
    margin: 0;
  }

  .reviews__toggles {
    bottom: -4px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f8f5f2;
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding-bottom: 97px;
  }

  .reviews__wrapper {
    width: 960px;
  }

  .reviews__title {
    margin-left: 70px;
    margin-bottom: 49px;
  }

  .reviews__item {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 70px;
    border: 1px solid #e5ddd5;
  }

  .reviews__author-picture {
    width: 249px;
    height: 160px;
    margin: 0;
    margin-right: 72px;
  }

  .reviews__author-image {
    border-radius: inherit;
  }

  .reviews__author-info {
    padding-top: 30px;
  }

  .reviews__toggles {
    bottom: -50px;
  }
}
/* Файл blocks/page-main.less */
.page-main--inner {
  color: #000000;
  background-color: #f8f5f2;
}
/* Файл blocks/page-title.less */
.page-title {
  margin: 0 auto;
  padding: 30px 0;
  color: #000000;
  text-transform: uppercase;
}

.page-title a {
  display: none;
}

.page-title__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .page-title {
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 58px;
    padding-bottom: 40px;
  }

  .page-title a {
    align-self: center;
    display: block;
    width: 100px;
    margin-top: -5px;
  }

  .page-title__title {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .page-title {
    width: 960px;
    padding-bottom: 80px;
    padding-top: 60px;
  }
}
/* Файл blocks/works.less */
.works {
  position: relative;
  padding-bottom: 14px;
}

.works::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -34px;
  z-index: 10;
  width: 100%;
  height: 34px;
  background-image: linear-gradient(to top right, transparent 50%, #f8f5f2 50%), linear-gradient(to top left, transparent 50%, #f8f5f2 50%);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
  background-size: 50.1% 100%;
}

@media (min-width: 768px) {
  .works {
    padding: 0 64px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 47px;
  }

  .works::after {
    display: none;
  }
}
/* Файл blocks/works-item.less */
.works-item {
  margin-bottom: 20px;
  padding: 0 20px;
  color: #000000;
}

.works-item--work-of-month {
  position: relative;
}

.works-item--work-of-month::before {
  content: "Работа месяца";
  position: absolute;
  top: 401px;
  left: 20px;
  z-index: 2;
  width: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 11px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
}

.works-item--work-of-month::after {
  content: "";
  position: absolute;
  top: 401px;
  left: 180px;
  z-index: 2;
  width: 16px;
  height: 50px;
  background-image: linear-gradient(to top left, transparent 50%, #826550 50%), linear-gradient(to top right, #826550 50%, transparent 50%);
}

.works-item__image-wrapper {
  position: relative;
  height: 176px;
  margin: 0;
  line-height: 0;
  text-align: center;
  background-color: #e6ded6;
  overflow: hidden;
}

.works-item--work-of-month .works-item__image-wrapper {
  height: 480px;
}

.works-item__review {
  padding-top: 19px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 0;
  border: 1px solid #e5ddd5;
  border-top: none;
}

.works-item__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}

.works-item__text {
  margin: 0;
  margin-bottom: 16px;
}

.works-item__parameter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: auto;
  padding: 0;
  list-style: none;
}

.works-item__parameter-item {
  position: relative;
  width: auto;
  margin-bottom: 15px;
  margin-right: 30px;
  padding-left: 36px;
  font-size: 16px;
  text-transform: uppercase;
}

.works-item__parameter-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
}

.works-item__parameter-item--haircut::before {
  background-image: url("../img/scissors-icon.svg");
}

.works-item__parameter-item--shaving::before {
  background-image: url("../img/beard-icon.svg");
}

.works-item__parameter-item--mustache::before {
  background-image: url("../img/mustache-icon.svg");
}

.works-item__parameter-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .works-item {
    display: flex;
    align-items: stretch;
    margin-bottom: 41px;
    padding: 0;
  }

  .works-item--work-of-month::before {
    top: 35px;
    bottom: auto;
    left: 0;
  }

  .works-item--work-of-month::after {
    top: 35px;
    bottom: auto;
    left: 160px;
  }

  .works-item__image-wrapper,
  .works-item--work-of-month .works-item__image-wrapper {
    height: auto;
  }

  .works-item__image-wrapper {
    position: relative;
    width: 270px;
  }

  .works-item__image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border: 1px solid #e5ddd5;
    border-top: none;
    border-right: none;
  }

  .works-item__img {
    position: relative;
    z-index: 1;
  }

  .works-item__review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 370px);
    padding-top: 43px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-top: 1px solid #e5ddd5;
    border-left: none;
  }

  .works-item__title {
    margin-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .works-item:first-child .works-item__image-wrapper {
    width: 480px;
  }

  .works-item:first-child .works-item__review {
    width: 396px;
    padding-top: 128px;
    padding-right: 42px;
    padding-bottom: 12px;
    padding-left: 42px;
  }

  .works-item:first-child .works-item__parameter-item {
    margin-bottom: 15px;
  }

  .works-item--work-of-month::before {
    top: 26px;
    right: 0;
    bottom: auto;
    left: auto;
  }

  .works-item--work-of-month::after {
    top: 26px;
    right: 160px;
    bottom: auto;
    left: auto;
    background-image: linear-gradient(to top left, #826550 50%, transparent 50%), linear-gradient(to top right, transparent 50%, #826550 50%);
  }

  .works-item:not(:first-child) {
    flex-direction: column;
    width: 295px;
  }

  .works-item:nth-child(3n + 1) {
    margin-right: 0;
  }

  .works-item__image-wrapper {
    width: auto;
  }

  .works-item__review {
    flex-grow: 1;
    width: auto;
  }

  .works-item:not(:first-child) .works-item__review {
    padding-top: 30px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 10px;
    border-top: none;
    border-left: 1px solid #e5ddd5;
  }

  .works-item__text {
    margin-bottom: 25px;
  }

  .works-item--work-of-month .works-item__text {
    padding-right: 85px;
  }

  .works-item__parameter-item {
    width: auto;
    margin-right: 35px;
    margin-bottom: 21px;
  }
}
/* Файл blocks/price.less */
.price {
  position: relative;
  padding-top: 70px;
  padding-bottom: 53px;
  color: #ffffff;
  background-color: #353535;
}

.price::before,
.price::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 50%;
  height: 40px;
}

.price::before {
  left: 0;
  background-image: linear-gradient(to right top, #292929 0%, #292929 50%, transparent 50%);
}

.price::after {
  right: 0;
  background-image: linear-gradient(to left top, #292929 0%, #292929 50%, transparent 50%);
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
}

.price__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.price__columns {
  padding: 0 20px;
}

.price__table {
  display: block;
  font-size: 20px;
  line-height: 27px;
  border-collapse: collapse;
}

.price__table tbody {
  display: block;
}

.price__table tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.price__table td {
  display: block;
  padding: 0 5px;
}

.price__table .price__num {
  display: none;
}

.price__table .price__name {
  padding-left: 0;
  font-weight: bold;
}

.price__table .price__addition {
  order: 4;
  width: 100%;
  padding-left: 0;
}

.price__table .price__sum {
  padding-right: 0;
}

.price__discount {
  position: relative;
  height: 90px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 16px 10px;
  padding-right: 31px;
  padding-left: 114px;
  border: 2px solid #5e5e5e;
  box-sizing: border-box;
}

.price__discount::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 57px;
  height: 57px;
  background-image: url("../img/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .price {
    padding-top: 78px;
    padding-bottom: 45px;
  }

  .price::before,
  .price::after {
    display: none;
  }

  .price__wrapper {
    width: 640px;
    margin: auto;
  }

  .price__title {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: left;
  }

  .price__columns {
    padding: 0;
  }

  .price__table {
    display: table;
    width: 100%;
  }

  .price__table tbody {
    display: table-row-group;
  }

  .price__table tr {
    display: table-row;
  }

  .price__table td {
    display: table-cell;
    padding: 13px 19px;
    vertical-align: top;
    border: 2px solid #5E5E5E;
  }

  .price__table .price__num {
    display: table-cell;
    width: 70px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }

  .price__table .price__name {
    padding: 12px 19px;
  }

  .price__table .price__addition {
    width: auto;
    padding: 12px 19px;
  }

  .price__table .price__sum {
    min-width: 110px;
    padding: 12px 19px;
  }

  .price__table .bracket {
    display: none;
  }

  .price__discount {
    height: 120px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 40px 10px;
    padding-left: 90px;
    font-size: 30px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .price__discount::before {
    left: 27px;
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1200px) {
  .price {
    padding-top: 75px;
    padding-bottom: 81px;
  }

  .price__wrapper {
    width: 960px;
  }

  .price__columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .price__table {
    width: 630px;
  }

  .price__table .price__name {
    width: 207px;
  }

  .price__table .price__sum {
    min-width: 108px;
  }

  .price__discount {
    width: 270px;
    height: auto;
    margin: 0;
    padding: 10px 50px;
    padding-top: 198px;
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
    font-weight: normal;
  }

  .price__discount::before {
    top: 25px;
    left: 50%;
    width: 140px;
    height: 140px;
    transform: translateY(0) translateX(-50%);
  }
}
/* Файл blocks/record.less */
.record {
  position: relative;
  padding-bottom: 73px;
}

.record::before,
.record::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 50%;
  height: 40px;
}

.record::before {
  left: 0;
  background-image: linear-gradient(to right top, #292929 0%, #292929 50%, transparent 50%);
}

.record::after {
  right: 0;
  background-image: linear-gradient(to left top, #292929 0%, #292929 50%, transparent 50%);
}

.record__wrapper {
  width: 320px;
  margin: 0 auto;
}

.record__form {
  padding: 0 20px;
}

.record__form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.record__form .filter {
  margin-top: 30px;
}

.record__form .filter--margin {
  margin-top: 12px;
}

.record__col-3 {
  margin-bottom: 31px;
}

.record__col-2 {
  margin-bottom: 31px;
}

.record__item {
  margin: 0;
  margin-bottom: 6px;
}

.record__item:last-child {
  margin-bottom: 0;
}

.record__item input,
.record__item textarea {
  width: 100%;
  padding: 9px 16px 9px 16px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
}

.record__item textarea {
  height: 112px;
  resize: none;
}

@media (min-width: 768px) {
  .record {
    padding-bottom: 75px;
  }

  .record::before,
  .record::after {
    display: none;
  }

  .record__wrapper {
    width: 640px;
  }

  .record__form {
    padding: 0 65px;
    padding-top: 28px;
  }

  .record__col-3 {
    display: flex;
    margin-bottom: 35px;
  }

  .record__item {
    margin-bottom: 0;
  }

  .record__item input,
  .record__item textarea {
    padding: 19px 16px 19px 23px;
    font-size: 24px;
  }

  .record__item textarea {
    height: 212px;
  }

  .record__col-2 {
    margin-bottom: 35px;
  }

  .record__col-2 .record__item:first-child {
    margin-bottom: 35px;
  }

  .record__form .filter {
    margin-top: 47px;
  }
}

@media (min-width: 1200px) {
  .record {
    padding-bottom: 87px;
  }

  .record__wrapper {
    width: 960px;
  }

  .record__form {
    padding-top: 0;
  }

  .record__col-3 {
    justify-content: space-between;
  }

  .record__col-3 .record__item {
    width: 295px;
  }

  .record__col-2 {
    display: flex;
    justify-content: space-between;
  }

  .record__col-2 .record__item {
    width: 461px;
  }

  .record__col-2 .record__item:first-child {
    margin-bottom: 0;
  }

  .record__form .filter {
    margin-top: 64px;
  }

  .record__form .filter--margin {
    margin-top: 53px;
  }
}
/* Файл blocks/filter.less */
.filter__title {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}

.filter__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__list--row {
  flex-direction: row;
  flex-wrap: wrap;
}

.filter__list--row .filter__item {
  width: 93px;
  margin-bottom: 25px;
  text-align: center;
}

.filter__list--column {
  flex-direction: column;
}

.filter__list--column .filter__item {
  margin-bottom: 19px;
}

.filter__item {
  position: relative;
}

.filter__input--radio + label {
  text-transform: lowercase;
}

.filter__input--radio + label img {
  margin-top: 10px;
}

.filter__input--radio + label::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 7px;
  vertical-align: top;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}

.filter__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}

.filter__input--checkbox + label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 23px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}

.filter__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  display: block;
  width: 22px;
  height: 16px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter__button {
  display: block;
  width: 100%;
  margin-top: 27px;
  padding-top: 12px;
  padding-bottom: 14px;
  font: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #826550;
  border: none;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .filter__title {
    position: relative;
    margin-bottom: 49px;
    font-size: 30px;
  }

  .filter__title::before,
  .filter__title::after {
    content: "";
    position: absolute;
    top: 15px;
    display: block;
    width: 135px;
    height: 1px;
    background-color: #e5ddd5;
  }

  .filter__title::before {
    left: 0;
  }

  .filter__title::after {
    right: 0;
  }

  .filter__list--row {
    justify-content: space-between;
  }

  .filter__list--row .filter__item {
    margin-bottom: 0;
  }

  .filter__input--radio + label {
    font-size: 24px;
  }

  .filter__input--radio + label img {
    margin-top: 28px;
  }

  .filter__input--radio + label::before {
    margin-bottom: 25px;
  }

  .filter--margin .filter__title {
    margin-bottom: 73px;
  }

  .filter__list--column {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter__list--column .filter__item {
    width: 50%;
    margin-bottom: 46px;
  }

  .filter__input--checkbox + label {
    font-size: 24px;
  }

  .filter__button {
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .filter__list--row {
    justify-content: space-around;
  }

  .filter__title {
    margin-bottom: 53px;
  }

  .filter__title::before,
  .filter__title::after {
    width: 280px;
  }

  .filter--margin .filter__title {
    margin-bottom: 71px;
  }

  .filter__list--column .filter__item {
    width: 33.33%;
  }

  .filter__button {
    margin-top: 31px;
  }
}
/* Файл blocks/page-footer.less */
.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 20px;
}

.page-footer__contacts {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 20px;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 28px;
}

.page-footer__copyright {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .page-footer__contacts {
    order: 0;
    width: 320px;
    padding: 0;
    margin-bottom: 50px;
  }

  .page-footer__social {
    order: 2;
    width: 100%;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    order: 1;
    width: 160px;
    padding: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 960px;
    justify-content: flex-start;
  }

  .page-footer__contacts {
    width: 330px;
    margin: 0;
    margin-right: 50px;
    padding: 0;
  }

  .page-footer__social {
    order: 1;
    width: 200px;
  }

  .page-footer__copyright {
    order: 2;
    margin-left: auto;
    margin-bottom: 0;
  }
}
/* Файл blocks/contacts.less */
.contacts {
  text-align: center;
}

.contacts__title {
  display: block;
  margin-bottom: 10px;
}

.contacts__text {
  margin: 0;
}

.contacts__phone {
  display: block;
  margin-top: 18px;
  padding-top: 9px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #3e3e3e;
}

.contacts__phone:hover,
.contacts__phone:focus {
  border-color: #515151;
}

.contacts__phone:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #252525;
  background-color: #252525;
}

.contacts__phone-mobile {
  display: none;
}

@media (min-width: 768px) {
  .contacts {
    text-align: left;
  }

  .contacts__title {
    text-transform: uppercase;
  }

  .contacts__phone-mobile {
    display: inline;
  }

  .contacts__phone {
    margin-top: 0;
    padding: 0;
    font-weight: normal;
    border: none;
  }

  .contacts__phone:active {
    border-color: transparent;
    background-color: transparent;
  }
}
/* Файл blocks/social.less */
.social__title {
  display: none;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 104px;
  height: 100px;
  font-size: 0;
  border: 1px solid #3e3e3e;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link:hover,
.social__link:focus {
  border-color: #515151;
}

.social__link:active {
  opacity: 0.3;
  border-color: #1b1b1b;
  background-color: #1b1b1b;
}

.social__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
}

@media (min-width: 768px) {
  .social__link {
    width: 211px;
    height: 98px;
  }
}

@media (min-width: 1200px) {
  .social__list {
    justify-content: center;
  }

  .social__title {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .social__link {
    width: 54px;
    height: 48px;
  }
}
/* Файл blocks/copyright.less */
.copyright {
  text-align: center;
}

.copyright__text {
  display: block;
  font-weight: normal;
}

.copyright__link {
  display: block;
  margin-top: 11px;
  padding-top: 9px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #3e3e3e;
}

.copyright__link:hover,
.copyright__link:focus {
  border-color: #515151;
}

.copyright__link:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #252525;
  background-color: #252525;
}
/* Файл blocks/modal.less */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: absolute;
  top: 136px;
  left: 0;
  right: 0;
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 31px 20px;
  padding-bottom: 36px;
  color: #000000;
  background-color: #f8f5f2;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.modal h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.modal__description {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.modal--show {
  display: block;
}

.modal__form p {
  margin: 0;
  margin-bottom: 5px;
}

.modal__input {
  width: 100%;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
}

.modal__form .modal__help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 26px 0 34px;
}

.modal__input--icon-user {
  background-image: url("../img/user.svg");
  background-position: 250px center;
  background-repeat: no-repeat;
}

.modal__input--icon-password {
  background-image: url("../img/lock.svg");
  background-position: 250px center;
  background-repeat: no-repeat;
}

.modal__help-checkbox {
  position: relative;
  padding-left: 47px;
  cursor: pointer;
}

.modal__help-checkbox input[type="checkbox"] + .modal__help-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}

.modal__help-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.modal__help-checkbox input[type="checkbox"]:checked + .modal__help-indicator::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  display: block;
  width: 22px;
  height: 16px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal__restore {
  color: #000000;
  text-decoration: underline;
}

.modal__restore:hover,
.modal__restore:focus {
  text-decoration: none;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
}

.modal__button {
  width: 130px;
  font: inherit;
}

.modal__button:first-child {
  color: #f7f4f1;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: #826550;
  border: 1px solid #826550;
}

.modal__button--close {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid #e5ddd5;
}

@media (min-width: 768px) {
  .modal {
    position: fixed;
    top: 130px;
    width: 460px;
    padding: 0 71px;
    padding-top: 57px;
    padding-bottom: 55px;
  }

  .modal h2 {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 30px;
  }

  .modal--show {
    animation: bounce 0.6s;
  }

  .modal--error {
    animation: shake 0.6s;
  }

  .modal__description {
    margin-bottom: 24px;
  }

  .modal__input {
    padding: 19px 23px;
    font-size: 24px;
  }

  .modal__input--icon-user,
  .modal__input--icon-password {
    background-position: 285px center;
  }

  .modal__button--close {
    position: absolute;
    top: 58px;
    right: -94px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .modal__button--close::before,
  .modal__button--close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 35px;
    height: 3px;
    background-color: #ffffff;
  }

  .modal__button--close::before {
    transform: rotate(45deg);
  }

  .modal__button--close::after {
    transform: rotate(-45deg);
  }

  .modal__form .modal__help {
    margin-bottom: 40px;
  }

  .modal__button:first-child {
    width: 100%;
  }
}
