:root {
  --base-black: #333333;
  --base-white: #ffffff;
  --base-grey: #bdbdbd;
  --base-primary: #7859cf;
  --base-secondary: #f0ebff;
  --primary-lighter: #9070ec;
  --primary-darker: #593cac;
  --light-grey: #e2e2e2;
  --lightest-grey: #f8f8f8;
  --espresso: #e5e6e8;
  --lavender-latte: #eae6fc;
  --flat-white: #f3ebe1;

  --transparent-primary25: rgba(120, 89, 207, 0.25);
}

$tablet-width: 768px;
$desktop-width: 1280px;

$mobile-only: $tablet-width - 1px;
