.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: @tablet-widths) {
  .page-header {
    flex-direction: column-reverse;
  }

  .page-header__logo {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: @desktop-widths) {
  .page-header {

  }

  .page-header__logo {
    height: 648px;
  }
}
