.stats {
  width: 320px;
  margin: 0 auto;

  /* Временно для сетки */
  min-height: 570px;
}

.stats__header {
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;

  /* Временно для сетки */
  min-height: 130px;
}

.stats__list {
  width: 100%;

  /* Временно для сетки (таблица на min-height не реагирует, поэтому height) */
  height: 320px;
}


@media (min-width: @tablet-widths) {
  .stats {
    width: 640px;
    margin-top: -185px;

    /* Временно для сетки */
    min-height: 0;
  }

  .stats__header {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .stats__list {
    display: flex;
  }
}


@media (min-width: @desktop-widths) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 240px;
    padding-left: 40px;
    padding-right: 40px;

    /* Временно для сетки */
    min-height: 263px;
  }

  .stats__list {
    width: 640px;
  }
}
