.button {
  display: block;
  padding: 13px 29px 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #e5ddd5;
}


@media (min-width: @tablet-width) {

}


@media (min-width: @desktop-width) {

}