@import "global/variables";
@import "global/scaffolding";
@import "global/mixins";

/* Настройки скриншота-подложки для сетки */
body {
  background: @bg-darkgrey url("../img/bb-mobile-close.png") no-repeat 50% -1445px;
  background-size: 320px auto;
  min-height: 1050px;
}

@media (min-width: @tablet-widths) {
  body {
    background: @bg-darkgrey url("../img/bb-tablet.png") no-repeat 50% -1546px;
    background-size: 768px auto;
  }
}

@media (min-width: @desktop-widths) {
  body {
    background: @bg-darkgrey url("../img/bb-desktop.png") no-repeat 50% -1537px;
    background-size: 1200px auto;
  }
}

.block-mock {
  height: 100px;
}

/* Файл blocks/reviews.less */
@import "blocks/reviews";
